@model IList<Dominio.Planta>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Plantas</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id Planta
            </th>
            <th>
                Nombre Cientifico
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Tipo Planta
            </th>
            <th>
                Id Ficha Cuidados
            </th>
            <th>
                Ambiente
            </th>
            <th>
                Altura
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdPlanta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCientifico)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoPlanta.TipoNombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FichaCuidados.IdFichaCuidados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ambiente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Altura)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
