@model IList<Dominio.Planta>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Plantas</h1>

@*<p>
    <a asp-action="Create">Create New</a>
</p>*@
<p>
    <a asp-action="CreatePlanta">Crear Planta</a>
</p>
<p>
    <a asp-action="Search">Buscar Planta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id Planta
            </th>
            <th>
                Nombre Cientifico
            </th>
            <th>
                Descripcion
            </th>
            <th>
                Tipo Planta
            </th>
            <th>
                Id Ficha Cuidados
            </th>
            <th>
                Ambiente
            </th>
            <th>
                Altura
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdPlanta)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreCientifico)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descripcion)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoPlanta.TipoNombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FichaCuidados.IdFichaCuidados)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ambiente)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Altura)
                    </td>

                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdPlanta">Editar</a> |
                        <a asp-action="Delete" asp-route-id="@item.IdPlanta">Borrar</a> |
                        <a asp-action="Details" asp-route-id="@item.IdPlanta">Detalle</a>

                    </td>
                </tr>
            }
        }
        else
        {
            <div class="alert alert-warning" role="alert">
                Ups! No hay plantas para listar.
            </div>
        }

    </tbody>
</table>
