@model IEnumerable<Dominio.ParamSistema>

@{
    ViewData["Titulo"] = "Index";
}
<h1>Lista de Parametros</h1>

<table class="table table-hover">
    <thead>
        <tr class="table-primary">
            <th scope="col">
                @Html.DisplayNameFor(model => model.IdParam)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ValorMin)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.ValorMax)
            </th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IdParam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValorMax)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdParam"><i class="fa-solid fa-pen-to-square"></i></a>
            </td>
        </tr>
        }
    </tbody>
</table>